@charset "UTF-8";

.container {
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}

.document-isi {
	margin-top: 85px;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}

.justify-content-center {
	justify-content: center !important;
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row>* {
	width: 100%;
	max-width: 100%;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin-top: var(--bs-gutter-y);
}

.isi-document {
	flex: 1 0 0%;
}

.document {
	width: 100%;
	background: aqua;
}

@media (min-width: 768px) {
	.col-md-4 {
		flex: 0 0 auto;
		width: 25%;
	}

	.col-md-5 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}

	.col-md-12 {
		flex: 0 0 auto;
		width: 100%;
	}
}


.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.5rem;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.125);
}

.card-body {
	flex: 1 1 auto;
	padding: 1rem 1rem;
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
}

.mb-4 {
	margin-bottom: 1.5rem !important;
}

.text-align-center {
	text-align: center !important;
}