.p-nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000000;
}

.wrapper {
	height: auto;
	display: flex;
	font-size: 20px;
	padding: 15px;
	/* background: #222; */
	background: transparent;
	justify-content: space-between;
	align-items: center;
	transition: backdrop-filter 1.5s ease-in-out, background-color 0.01s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.wrapper.cek {
		transition: none;
	}
}

.wrapper.cek {
	/* background: #222; */
	background-color: rgba(34, 34, 34, 0.541);
	backdrop-filter: blur(5px);
}

.brand {
	display: flex;
	flex-direction: row;
	font-size: 1.5em;
	padding: 15px;
	text-transform: capitalize;
}

.firstname {
	color: #fff;
	font-weight: 700;
}

.lastname {
	color: crimson;
	padding-left: 4px;
	font-weight: 400;
}

.p-nav-2 {
	position: relative;
}

.p-nav-2::after {
	content: "";
	right: 0;
	height: 100%;
	background: linear-gradient(to left, rgba(18, 18, 18, 1), rgba(18, 18, 18, 0));
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.navigation>#marker {
	position: absolute;
	height: 3px;
	left: 0;
	width: 0;
	background: #61DAFB;
	bottom: 0;
	transition: 0.4s ease-in-out;
	border-radius: 4px;
}

.navigation>a {
	list-style: none;
	padding: 15px;
	transition: all 1s ease-in-out;
	font-weight: 400;
}

.navigation>a {
	color: #fff;
	font-size: 1.3rem;
	text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
	.navigation>a {
		transition: none;
	}
}

.navigation>a:hover {
	background: #61dafb6c;
	border-radius: 5px;
}

@media screen and (max-width: 500px) {
	.wrapper {
		flex-direction: column;
		background: #222;
	}

	.wrapper>.navigation {
		width: 100%;
		height: 40px;
		margin: 0px;
		overflow-y: hidden;
	}

	.wrapper>.navigation>a {
		padding: 8px;
		font-size: 20px;
		/* background: #76b4ff96; */
	}
}

@media screen and (max-width: 300px) {
	.wrapper {
		flex-direction: column;
	}

	.wrapper>.navigation {
		width: 100%;
		height: 40px;
		margin: 0px;
	}

	.wrapper>.navigation>a {
		padding: 8px;
		font-size: 15px;
		/* background: #76b4ff96; */
	}
}